.main__news {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}

.main__news--principal {
  width: 700px;
  background-color: #030d1a;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px #030d1a;
  font-family: Calibri;
}

.main__news--principal img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main__news--principal p {
  color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.main__news--principal a {
  color: #e86b18;
}

.main__news--block {
  display: flex;
  flex-direction: column;
}

.main__news--blocks {
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main__news--blocks img {
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px #030d1a;
}

.main__infos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main__job {
  width: 700px;
  background-color: #030d1a;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px #030d1a;
  font-family: Calibri;
}

.main__job img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main__job p {
  color: white;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.main__job a {
  color: #e86b18;
}

.main__flux {
  width: 300px;
  background-color: #030d1a;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px #030d1a;
  font-family: Calibri;
  margin-right: 50px;
  margin-left: 45px;
}

.main__flux h3 {
  color: white;
  font-size: 2em;
  padding: 0 10px 0 20px;
}

.main__flux ul {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}

.main__flux li {
  margin-bottom: 30px;
}

.main__flux p {
  color: #e86b18;
  font-family: Calibri;
  margin-bottom: 0;
}

.main__flux a {
  color: #e86b18;
  font-family: Calibri;
  background: linear-gradient(0deg, #ffb181, #ffb181) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}
.main__flux a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}
.main__flux .underline{
  padding-bottom: 1.5px;
  --bg-h: 2px;
}
.main__flux a{
  text-decoration: none;
  line-height: 1;
}

.main__crea {
  margin-bottom: 100px;
}

.main__crea img {
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px #030d1a;
}

.main__discord {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main__discord img {
  box-shadow: 0px 8px 16px 0px #030d1a;
}

.button--discord {
  background-color: #e86b18;
  color: white;
  font-family: Oswald;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px #030d1a;
}




@media screen and (max-width: 1623px) {

  .main__news {
    justify-content: center;
  }

  .main__news--principal {
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }

  .main__news--principal img {
    width: 1100px;
  }

  .main__news--blocks {
    margin-left: 50px;
  }

  .main__news--blocks img {
    width: 350px;
  }

  .main__infos {
    justify-content: center;
    margin-top: 50px;
    ;
  }

  .main__job {
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }

  .main__job img {
    width: 1100px;
  }

  .main__flux {
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .main__crea-discord {
    margin-top: 50px;
  }


}

@media screen and (max-width: 1300px) {

  .main__news--principal {
    width: 100%;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
  }

  .main__news--principal img {
    width: 100%;
  }

  .main__news--blocks {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .main__news--blocks img {
    width: 270px;
  }

  .main__job {
    width: 100%;
    margin-right: 50px;
    margin-left: 50px;
  }

  .main__job img {
    width: 100%;
  }

  .main__flux {
    width: 270px;
  }

  .main__crea img {
    width: 250px;
  }

}

@media screen and (max-width: 730px) {
  .main__news--principal {
    margin-right: 15px;
    margin-left: 15px;
  }

  .main__news--blocks img {
    width: 180px;
  }

  .main__job {
    margin-right: 15px;
    margin-left: 15px;
  }

  .main__flux {
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .main__crea img {
    width: 85%;
    margin-right: 40px;
    margin-left: 6vw;
  }

  .main__discord img {
    width: 150px;
  }

  .button--discord {
    font-size: 1.3em;
  }


}


@media screen and (max-width: 495px) {
  .main__news{
    flex-direction: row;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .main__news--blocks {
    margin-left: 3vw;
  }

  .main__flux {
    padding-left: 10px;
  }
}

@media screen and (max-width: 448px){
  .main__discord{
    flex-direction: column;
  }
  .main__news--blocks img{
    width: 120px;
  }
  .button--discord {
    margin-top: 20px;
  }
  
}

@media screen and (max-width: 319px){
  .main__news--blocks img{
    width: 100px;
  }
}